################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio/FileContentIndex/22634d6d-3f18-443a-9176-f6ea7a041184.vsidx
/.vs/Portfolio/FileContentIndex
/.vs
/.gitignore
